.body {
  font-family: "Lateef", "Noto Nastaliq Urdu", "Jameel Noori Nastaleeq",
    "Alvi Nastaleeq", "serif" !important;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.904);
  opacity: 0.6; /* Adjust this between 0.3 to 0.7 */
  z-index: 1;
}

.body {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: rgb(255, 255, 255);
  z-index: 2; /* Make sure text is above the overlay */
  width: 80%;
  padding: 2px;
}
.heroh1 {
  /* font-size: 35px !important; */
  font-weight: bolder !important;
  text-align: right;
  word-spacing: 2px;
  font-size: 45px;
}
.heroP {
  margin-top: 10px !important;
  word-spacing: 2px;
  text-align: right;
  font-weight: bold;
}
.herobtn {
  padding: 15px !important;
  background-color: rgb(175, 22, 22) !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  font-weight: bold !important;
  font-size: 20px !important;
  margin-top: 5px !important;
  border-radius: 30px;
  float: right;
}
.herobtn:hover {
  background-color: rgb(66, 31, 23) !important;
}
