.documentry iframe {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.documentry iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.text {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  word-spacing: 2px;
}

.CardBox {
  border: 1px rgb(97, 34, 34) solid !important;
}
