.navbar {
  background-color: black;
  padding: 5px;
}
.navbar-brand img {
  width: 100px;
  height: 75px;
}
#offcanvasNavbar {
  background-color: black;
  color: white;
}
#offcanvasNavbar img {
  width: 100px;
  height: 75px;
  border-bottom: 2px solid white;
}
.nav-item .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.5px;
}
form .search-btn {
  background-color: white;
  color: black !important;
  font-weight: 600;
  border: 2px solid gold;
}
form input {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: black !important;
  border: 2px solid gold !important;
}
form .search-btn:hover {
  color: white !important;
  background-color: rgb(57, 41, 9);
}
.navbar-toggler {
  background-color: white !important;
}
