.slider-container {
  width: 100%; /* Adjust as needed */
  padding: 30px !important;
}
.ShrineSliderContainer {
  margin-top: 40px;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/ajrak3.jpeg);
  background-position: center;
  background-size: cover;
}
.slider-item {
  position: relative;
}
.slider-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.shortdescriptionShrine {
  font-size: 14px;
  text-align: right;
}
.ShrineSliderImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.Shrineh1 {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 700;
  color: white;
}
.ShrineIndex {
  text-align: right;
}
/* ShrineDynamicPage */
.shrineDynaamicPageImg {
  width: 100%;
  min-height: 400px;
  max-height: 600px;
}
.Data_content {
  text-align: right;
  word-spacing: 1.5px;
}
.Data_cententP {
  font-size: 20px;
  font-weight: 500;
}
